.container {
  width: 95%;
  margin: auto;
}

table {
  width: 100%;
  margin-top: 1rem;
}

mat-form-field {
   width: 100%;
   margin-top: 1rem;
}

button{
   width: 100%;
   margin-top: 1rem;
}

h1{
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}